{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended", "prettier", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "radix": ["error", "as-needed"],
    "no-console": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
